---
---

@import 'colors';
@import 'tachyons';
@import 'color-swatches';
@import 'color-swatch';

body {
  font-family: sans-serif;
}

.header {
  grid-area: header;
}

.main {
  grid-area: main;
}

.navigation {
  grid-area: sidebar;
}

.footer {
  grid-area: footer;
}

.container {
  display: grid;
  grid-template-columns: 10rem 2rem auto auto;
  grid-template-rows: auto;
  grid-template-areas:
    ' header  header header header '
    ' sidebar .      main   main   '
    ' footer  footer footer footer ';
}
