// Add percentage of white to a color
@function tint($color, $percent){
  @return mix(white, $color, $percent);
}

// Add percentage of black to a color
@function shade($color, $percent){
  @return mix(black, $color, $percent);
}

$color-orange: #c95106;
// Darker on top, lighter on the bottom; this makes sense
$color-orange-s20: shade($color-orange, 20%);
$color-orange-s10: shade($color-orange, 10%);
$color-orange-t10: tint($color-orange, 10%);
$color-orange-t20: tint($color-orange, 20%);
$color-orange-t90: tint($color-orange, 90%);
