.orange-s20 { color: $color-orange-s20; }
.orange-s10 { color: $color-orange-s10; }
.orange     { color: $color-orange;     }
.orange-t10 { color: $color-orange-t10; }
.orange-t20 { color: $color-orange-t20; }
.orange-t90 { color: $color-orange-t90; }

.bg-orange-s20 { background-color: $color-orange-s20; }
.bg-orange-s10 { background-color: $color-orange-s10; }
.bg-orange     { background-color: $color-orange;     }
.bg-orange-t10 { background-color: $color-orange-t10; }
.bg-orange-t20 { background-color: $color-orange-t20; }
.bg-orange-t90 { background-color: $color-orange-t90; }

.white { color: #fff; }
.black { color: #000; }

.bg-white { background-color: #fff; }
.bg-black { background-color: #000; }
