.bg-orange-s20 { background-color: $color-orange-s20; }
.bg-orange-s10 { background-color: $color-orange-s10; }
.bg-orange     { background-color: $color-orange;     }
.bg-orange-t10 { background-color: $color-orange-t10; }
.bg-orange-t20 { background-color: $color-orange-t20; }
